parameters:


application:
	errorPresenter: Front:Error
	catchExceptions: true
	mapping:
		*: App\*\Presenters\*Presenter
		Error: App\Front\Presenters\*Presenter


session:
	expiration: 1 hour


di:
	export:
		parameters: no
		tags: no
