{layout '../../../../Global/Presenters/templates/@layout.latte'}
{block title}SRP{/block}
{block content}
<div class="content">
	<div class="title blue darken-1 white-text flow-text"><i class="material-icons">keyboard_backspace</i> Značky</div>
</div>